.greeting{
    color: rgb(12, 25, 69);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.5em;
    margin-left: 1em;
}

.status-text{
    margin-left: 1em;
    color: rgb(12, 25, 69);
    margin-top: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}