.author-footer {
  color: aliceblue;
  font-size: 18px;
}

.main-footer {
  position: fixed;
  min-height: 50px;
  background-color: rgb(78, 110, 174);
  text-align: center;
  padding-top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
}
