.login-wrapper{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 20px;
}

.login-wrapper h2{
    color:rgb(95, 95, 148);
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    /*margin: auto;*/
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }