.navbar {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  background-color: rgb(78, 110, 174);
  color: ivory;
  text-decoration: none;
}
.title {
  text-decoration: none;
  color: ivory;
  margin: 25px;
  font-size: 35px;
  padding: 8px;
}

.title:hover {
  color: ivory;
  /* background-color: rgb(185, 143, 206); */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  margin-left: 20px;
}

.menu {
  text-decoration: none;
  color: ivory;
  margin: 30px;
  font-size: 23px;
  background-color: rgb(78, 110, 174);
}

.menu-li {
  margin-top: 8px;
  margin-left: 40px;
}

.menu:hover {
  color: ivory;
}
