table {
  border-collapse: separate;
  border-spacing: 20px 55px;
  background-color: rgb(193, 200, 226, 0.4);
  margin: 15px 30px;
}
.table thead {
  padding: 20px;
}

.table th {
  display: relative;
  font-size: 19px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.spend {
  margin-left: 30px;
}
