/**
  FAB 
*/
.floatingButtonWrap {
  display: block;
  position: fixed;
  bottom: 45px;
  right: 45px;
  z-index: 999999999;
}

.floatingButtonInner {
  position: relative;
}

.floatingButton {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  background: -webkit-linear-gradient(45deg, #8769a9, #507cb3);
  background: -o-linear-gradient(45deg, #8769a9, #507cb3);
  background: linear-gradient(45deg, #8769a9, #507cb3);
  color: #fff;
  line-height: 50px;
  position: absolute;
  border-radius: 50% 50%;
  bottom: 0px;
  right: 0px;
  border: 5px solid #b2bedc;
  /* opacity: 0.3; */
  opacity: 1;
  transition: all 0.4s;
}

.floatingButton .fa {
  font-size: 15px !important;
}

.floatingButton.open,
.floatingButton:hover,
.floatingButton:focus,
.floatingButton:active {
  opacity: 1;
  color: #fff;
}

.floatingButton .fa {
  transform: rotate(0deg);
  transition: all 0.4s;
}

.floatingButton.open .fa {
  transform: rotate(270deg);
}

.floatingMenu {
  position: absolute;
  bottom: 60px;
  right: 0px;
  /* width: 200px; */
  display: none;
}

.floatingMenu li {
  width: 100%;
  float: right;
  list-style: none;
  text-align: right;
  margin-bottom: 5px;
}

.floatingMenu li a {
  padding: 8px 15px;
  display: inline-block;
  background: #ccd7f5;
  color: #6077b0;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.4s;
  /* -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.22); */
  -webkit-box-shadow: 1px 3px 5px rgba(211, 224, 255, 0.5);
  box-shadow: 1px 3px 5px rgba(211, 224, 255, 0.5);
}

.floatingMenu li a:hover {
  margin-right: 10px;
  text-decoration: none;
}

/* NEW */
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,600");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  background: #fefefe;
  transition: all 0.5s;
  font-family: Roboto;
}

h1 {
  font-weight: 300;
  font-size: 30px;
  padding: 0;
  line-height: 1.2em;
  color: #fff;
}

h3 {
  font-weight: 400;
  font-size: 1em;
  color: #999;
}

h4 {
  font-weight: 500;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #fff$;
}

.protect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsla(0, 100%, 0%, 0);
  transition: all 400ms cubic-bezier(0.2, 0.965, 0, 1.005);
}

.fab {
  cursor: pointer;
  border-radius: 50%;
  position: block;
  width: 56px;
  height: 56px;
  padding: 16px;
  background: #009688;
  margin: 24px;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1);
  transform-origin: 100% 100%;
  box-shadow: 0px 5px 5px rgba(126, 111, 111, 0.39);
  transition: all 400ms cubic-bezier(0.2, 0.965, 0, 1.005);
}

.fab.active {
  cursor: default;
  background: #fff;
  transform: scale(1);
  border-radius: 0.125em;
  width: 50vw;
  min-width: 400px;
  max-width: 600px;
  height: 60vh;
  min-height: 500px;
  max-height: 650px;
  padding: 0px;
  box-shadow: 0px 25px 35px 0px rgba(0, 0, 0, 0.35);
}

.fab-wrapper {
  display: none;
}

#fab-hdr {
  padding: 24px;
  display: relative;
  width: 100%;
  background: #009688;
}

.btn-wrapper {
  position: absolute;
  height: 48px;
  bottom: 0;
  margin-top: 16px;
  margin-bottom: 8px;
  width: 100%;
  padding: 6px 16px;
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  width: auto;
  height: 36px;
  padding: 0px 12px;
  margin-left: 8px;
  border-radius: 2px;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 2px rgba(126, 111, 111, 0.28);
  text-align: center;
  text-transform: uppercase;
}
.btn:hover {
  box-shadow: 0px 2px 2px rgba(126, 111, 111, 0.33);
}
.btn:focus {
  outline: 0;
}
#cancel {
  background: #ececec;
}

#cancel:hover {
  background: #dedede;
}

#submit {
  background: #009688;
  color: white;
}

#submit:hover {
  background: #4db6ac;
}

svg {
  fill: #fff;
  transform: scale(1.25);
}

.material-form input:focus ~ label,
.material-form textarea:focus ~ label,
.material-form input:valid ~ label,
.material-form textarea:valid ~ label {
  font-size: 0.8em;
  color: #607d8b;
  top: -1.4em;
  transition: all 0.125s cubic-bezier(0.3, 0, 0, 1);
}

.material-form {
  padding: 24px 36px 72px;
  text-transform: uppercase;
}

.material-form input,
.material-form textarea {
  padding: 1em 1em 0.5em 0em;
  border: 1 !important;
  border-color: #ddd;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  box-shadow: 0 2px 0px 0px rgba(102, 102, 102, 0.8) !important;
  width: 100%;
  flex: 1;
  font-size: 1.2em;
  color: #555;
}

.material-form input ~ span,
.material-form textarea ~ span {
  display: block;
  width: 0;
  height: 2px;
  background: #607d8b;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.material-form input:focus,
.material-form textarea:focus {
  outline: 0;
}

.material-form input:focus ~ span,
.material-form textarea:focus ~ span {
  width: 100%;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.material-form .material-input {
  float: left;
  margin: 1.25em 0 1.25em;
  position: relative;
  background: transparent;
  width: 100%;
}

.material-form .material-input label {
  color: #999;
  padding: 1rem 0 0;
  position: absolute;
  top: 0.5em;
  left: 0;
  line-height: 1em;
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
}
